@model projetLocation.Models.Client

<h1>Ajouter un client</h1>

<form method="post">
    <label>Nom</label>
    <input asp-for="Nom" />
    <br /><br />
    <label>Prénom</label>
    <input asp-for="Prenom" />
    <br /><br />
    <label>Email</label>
    <input asp-for="Email" />
    <br /><br />
    <label>Téléphone</label>
    <input asp-for="Telephone" />
    <br /><br />
    <button type="submit">Ajouter</button>
</form>