@model List<projetLocation.Models.Client>

<h1>Liste des clients</h1>
<a href="/Clients/Create">Ajouter un client</a>
<table border="1">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Actions</th>
    </tr>
@foreach (var c in Model)
{
    <tr>
        <td>@c.Nom</td>
        <td>@c.Prenom</td>
        <td>@c.Email</td>
        <td>@c.Telephone</td>
        <td>
            <a href="/Clients/Delete/@c.Id">Supprimer</a>
        </td>
    </tr>
}
</table>