@model projetLocation.Models.Voiture

<h1>Ajouter une voiture</h1>
<form method="post">
    <label>Immatriculation</label>
    <input asp-for="Immatriculation" />
    <br /><br />
    <label>Année</label>
    <input asp-for="Annee" />
    <br /><br />
    <label>Tarif journalier</label>
    <input asp-for="TarifJournalier" />
    <br /><br />
    <label>Nombre de places</label>
    <input asp-for="NombrePlaces" />
    <br /><br />
    <label>Carburant</label>
    <input asp-for="Carburant" />
    <br /><br />
    <label>Modèle</label>
    <select asp-for="ModeleId">
        @foreach (var m in ViewBag.Modeles)
        {
            <option value="@m.Id">@m.Nom</option>
        }
    </select>
    <br /><br />
    <button type="submit">Ajouter</button>
</form>