@model projetLocation.Models.Marque
<h1>Ajouter une marque</h1>
<form method="post">
    <label>Nom</label>
    <input asp-for="Nom" />
    <br /><br />
    <label>Pays</label>
    <input asp-for="Pays" />
    <br /><br />
    <button type="submit">Ajouter</button>
</form>