@model List<projetLocation.Models.Marque>

<h1>Liste des marques</h1>
<a href="/Marques/Create">Ajouter une marque</a>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Pays</th>
        <th>Actions</th>
    </tr>
@foreach (var m in Model)
{
    <tr>
        <td>@m.Id</td>
        <td>@m.Nom</td>
        <td>@m.Pays</td>
        <td>
            <a href="/Marques/Delete/@m.Id">Supprimer</a>
        </td>
    </tr>
}
</table>